<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @common_interest.name %>
</p>

<%= link_to 'Edit', edit_common_interest_path(@common_interest) %> |
<%= link_to 'Back', common_interests_path %>
