<div class="columns">
  <div class="column is-half">
    <%= bulma_form_with model: category do |form| %>
      <div>
        <%= form.text_field :name %>
        <% category.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <%= form.submit nil, class: "button is-primary mt-3" %>
    <% end %>
  </div>
</div>
